/*
Author: Unix121
E-mail: unix121@protonmail.com
GitHub: https://github.com/unix121
Website: https://unix121.github.io
About: This is the basic template of my homepage.
       Feel free to edit it based on your needs.
*/

@import url("fonts/font-awesome.min.css");

html,
body,
ul {
  margin: 0;
  padding: 0;
}
pre, code { font-family: FontAwesome;}

body {
 background: #1e1e20;
  height: 100%;
  width: 100%;
}

main {
  display: block;
  font-family: FontAwesome;
  font-size: 14px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

h1 {
  color: #2c5159;
  display: block;
  margin: 3 auto;
  text-align: center;
  font-size: 30px;
}

h2 {
  color: #2c5159;
  display: block;
  margin: 0 auto;
  text-align: left;
  font-size: 20px;
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #1e1e20, #80969b, #1e1e20);
  background-image: -moz-linear-gradient(left, #1e1e20, #80969b, #1e1e20);
  background-image: -ms-linear-gradient(left, #1e1e20, #80969b, #1e1e20);
  background-image: -o-linear-gradient(left, #1e1e20, #80969b, #1e1e20);
}

ul {
  color: #d99f57;
  display: block;
  margin: 0 auto;
  width: 375px;
}

li {
  color: #56694d;
  display: inline-block;
  font-size: 1.2em;
  line-height: 1.1;
  list-style: none;
  margin: 6px;
}

a {
  color: #80969b;
  text-decoration: none;
  transition: .2s;
}

a:hover {
  color: #bfbfbf;
}
